<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>About me</h1>
    <p>Hello everyone, my name is Nemanja!</p>
    <p>This is my first challenge with tutorial Learn Django 3 with Nick</p>
    <p>So if I passed the challenge you should see all this stuff, if not then I failed and need to work on my Django skills</p>
    <p>Have a nice day and stay vigilant!</p>
    <br><br>
    <h4>This website is made by Nemanja Davidovic</h4>
    <a href="{% url 'home' %}">Go back to Home</a>
</body>
</html>